@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Creepster:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chivo:wght@400;700&display=swap");

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Unbounded", sans-serif;
    background-color: #1a1a1a;
    color: #fff;
    text-align: center;
    min-height: 100vh;
}

.header {
    background-color: #131313;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.profile {
text-align: center;
margin-bottom: 30px;
}

.profile img {
width: 200px;
border-radius: 50%;
border: 4px solid #fff;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.buttons button {
    padding: 10px 20px;
    font-size: 16px;
}

.footer {
    text-align: center;
    padding: 20px;
    background-color: #131313;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.changing-text {
    font-weight: bolder;
    color: #fdf5e6;
    font-size: 1.6rem;
    transition: opacity 0.5s ease-in-out;
}
.buttons {
    font-family: "Chivo", sans-serif;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    justify-content: center;
    max-width: 600px; /* Set a maximum width for the buttons container */
    margin: 0 auto; /* Center the buttons container */
    width: auto;
    padding: 15px 90px;
    font-size: 15pt;
    text-decoration: none;
}

.buttons a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #fff;
    padding: 10px;
    border: 2px solid #fff; /* Add border style to each button */
    border-radius: 15px; /* Add border radius for a rounded appearance */
}

.buttons i {
    font-size: 24px;
    margin-bottom: 5px;
}

.buttons a:nth-child(7) {
    grid-column: span 3; /* Make the last button span 3 columns */
}
.glow {
background: #ffffff33 !important;
border-radius: 16px !important;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
backdrop-filter: blur(5px) !important;
-webkit-backdrop-filter: blur(5px) !important;
border: 1px solid rgba(255, 255, 255, 0.3) !important;
}

.glow1 {
border-radius: 10px;
padding: 20px 40px;
position: relative;
border: none;
outline: none;
color: #fff;
z-index: 0;
display: inline-block;
}

.glow1:before {
content: '';
background: linear-gradient(45deg, #00ff00, #8b00ff, #00ff00, #8b00ff, #00ff00, #8b00ff, #00ff00, #8b00ff);
position: absolute;
top: -5px;
left: -5px; 
background-size: 400%;
z-index: -1;
filter: blur(5px);
width: calc(100% + 10px);
height: calc(100% + 10px);
animation: glowing 20s linear infinite;
transition: opacity .3s ease-in-out;
border-radius: 10px;
opacity: 1;
}

.glow1:after {
z-index: -1;
content: '';
position: absolute;
width: 100%;
height: 100%;
background: #0b091c;
left: 0;
top: 0;
border-radius: 10px;
}

.buttons a.glass {
background: #33333333;
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}

.music-container {
background-color: #1a1a1a;
border-radius: 15px;
box-shadow: 0 3px 10px 0 rgba(186, 184, 184, 0.6);
display: flex;
padding: 20px 30px;
position: relative;
top: 60px; /* Adjust the top position as needed */
margin-bottom: 100px; /* Add margin at the bottom to create space */
z-index: 10;
width: auto;
max-width: 538px;
margin: 0 auto;
}

.img-container {
position: relative;
width: 110px;
}

.img-container img {
border-radius: 50%;
object-fit: cover;
height: 110px;
width: inherit;
position: absolute;
bottom: 0;
left: 0;
animation: rotateImage 3s linear infinite;
animation-play-state: paused;
}

.img-container::after {
content: '';
position: absolute;
background-color: #fff;
border-radius: 50%;
bottom: 100%;
left: 50%;
height: 20px;
width: 20px;
transform: translate(-50%, 50%);
}

.music-container.play .img-container img {
animation-play-state: running;
}

@keyframes rotateImage {
from {
    transform: rotate(0deg);
}
to {
    transform: rotate(360deg);
}
}

.navigation {
display: flex;
align-items: center;
justify-content: center;
z-index: 1;
}

.action-btn {
background-color: #1a1a1a;
border: 0;
color: #121212;
font-size: 20px;
cursor: pointer;
padding: 10px;
margin: 0 20px;
}

.action-btn:focus {
outline: none;
}

.action-btn:hover, .action-btn.action-btn-big:hover {
color: #12121275;
}

.action-btn.action-btn-big {
color: #121212;
font-size: 30px;
}

.music-info {
background-color: #131313;
border-radius: 15px 15px 0 0;
position: absolute;
width: 398px;
padding: 10px 10px 10px 150px;
top: 0;
left: 20px;
opacity: 0;
transform: translateY(0%);
transition: transform 0.3s ease-in, opacity 0.3s ease-in;
z-index: 0;
}

.music-container.play .music-info {
opacity: 1;
transform: translateY(-100%);
}

.music-info h2 {
font-size: 1rem;
font-weight: bold;
margin: 0;
}

.progress-container {
background-color: #fff;
border-radius: 5px;
cursor: pointer;
margin: 10px 0;
height: 4px;
width: 100%;
}

.progress {
background-color: #1a1a1a80;
border-radius: 5px;
height: 100%;
width: 0%;
transition: width 0.1s linear;
}

.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    z-index: 999;
    backdrop-filter: blur(5px);
    font-size: 24px;
}